<ion-nav-view title="" hide-back-button="true" class="image-background-login">
    <ion-content>
        
            <div class="login">
                <form ng-submit="doLogin()">
                <label class="item item-input">
                    <input type="text" placeholder="Usuario">
                    <input type="text" ng-model="loginData.username">
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="Senha">
                    <input type="password" ng-model="loginData.password">
                </label>
                <button class="button button-block button-positive" type="submit">Autenticar</button>
                 </form>
                <a id="novaConta" class="button button-clear button-positive" type="submit" ng-href="#/cadastroUser" >Novo usuário?</a>
            </div>
       
    </ion-content>
</ion-nav-view>
