<ion-view view-title="Cadastro User">
    <ion-content>
        <div class="cadastrar">
            <label class="item item-input">
                <input type="text" placeholder="Nome" ng-model="usuario.nameUser">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="usuario.emailUser">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="usuario.senhaUser">
            </label>

            <button class="button button-block button-positive" ng-click="cadastrar()" >Cadastrar</button>
        </div><br>
    </ion-content>
</ion-view>
